
<br>

<br>

<div>
    
    <!-- Title -->
    <dt>
        <h5 id="arches-measurement-form" class="section-headline"> EXAMPLES OF CULTURAL HERITAGE SITE TYPES FOUND ACROSS THE EAMENA REGION: </h5>
    </dt>
    
</div>

<br>

<br>
<!-- Service Blocks -->
<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%223d8b0cd3-cd96-4b63-a99e-7a02578fc2a9%22%2C%22context_label%22%3A%22Feature%20Evidence%20Interpretation%20Type%22%2C%22id%22%3A%22Building%2FEnclosure3d8b0cd3-cd96-4b63-a99e-7a02578fc2a9%22%2C%22text%22%3A%22Building%2FEnclosure%22%2C%22value%22%3A%223b7f4e0e-bf8f-4d63-8561-0db0487c5b2e%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Buildings and enclosures</h2></a>
            <p>Location of buildings and enclosures across the eamena region</p>
        </div>
    </div>
   
   <div class="col-sm-4">
       <div class="servive-block servive-block-default">
           <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
           <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%223d8b0cd3-cd96-4b63-a99e-7a02578fc2a9%22%2C%22context_label%22%3A%22Feature%20Evidence%20Interpretation%20Type%22%2C%22id%22%3A%22Settlement%2FHabitation%20Site3d8b0cd3-cd96-4b63-a99e-7a02578fc2a9%22%2C%22text%22%3A%22Settlement%2FHabitation%20Site%22%2C%22value%22%3A%22861c2071-0994-4c78-8f09-1b1efd7799cb%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Settlement and habitation sites</h2></a>
           <p>Location of settlement and habitation sites across the eamena region</p>
       </div>
   </div>
   
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-trophy"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22term%22%2C%22context%22%3A%221a703e22-6b72-11e5-9f54-ff3e0833b9e8%22%2C%22context_label%22%3A%22Description.E62%22%2C%22id%22%3A%22cairns1a703e22-6b72-11e5-9f54-ff3e0833b9e8%22%2C%22text%22%3A%22cairns%22%2C%22value%22%3A%22cairns%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=true&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue"> Cairns </h2></a>
            <p>Location of cairns in Yemen</p>
        </div>
    </div>
</div>


<div>

  <!-- Title -->
   <dt>
       <h5 id="arches-measurement-form" class="section-headline"> EXAMPLES OF DISTURBANCE CAUSES, TYPES AND EFFECTS: </h5>
   </dt>

</div>

<br>

<br>

<div class="row margin-bottom-40">
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%22905c3cf3-ef7e-4a0a-acf8-589eccd18875%22%2C%22context_label%22%3A%22Disturbance%20Cause%20Type%22%2C%22id%22%3A%22Clearance%20(Bulldozing%2FLevelling)905c3cf3-ef7e-4a0a-acf8-589eccd18875%22%2C%22text%22%3A%22Clearance%20(Bulldozing%2FLevelling)%22%2C%22value%22%3A%2227e7e808-0e80-4bc9-9406-b15e411ec255%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue"> Clearance (bulldozing and levelling) </h2></a>
            <p>Location of sites across the eamena region where clearance (bulldozing and levelling) has been identified as a disturbance cause type</p>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-bookmark-o"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%225a1d5489-c591-4553-90de-912e418b4267%22%2C%22context_label%22%3A%22Disturbance%20Type%22%2C%22id%22%3A%22Agricultural%2FPastoral5a1d5489-c591-4553-90de-912e418b4267%22%2C%22text%22%3A%22Agricultural%2FPastoral%22%2C%22value%22%3A%22f7b4a74c-781b-48f5-b8a5-bc31a2ef076a%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Agricultural and pastoral</h2></a>
            <p>Location of agricultural and pastoral diusturbance types across the eamena region</p>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="servive-block servive-block-default">
            <i class="icon-custom rounded-x icon-bg-dark fa fa-tasks"></i>
            <a class= "" href='?page=1&termFilter=%5B%7B%22inverted%22%3Afalse%2C%22type%22%3A%22concept%22%2C%22context%22%3A%22f58177e2-3b3c-4516-9311-1e404bf0affc%22%2C%22context_label%22%3A%22Disturbance%20Effect%20Type%22%2C%22id%22%3A%22Collapse%2FStructural%20Damagef58177e2-3b3c-4516-9311-1e404bf0affc%22%2C%22text%22%3A%22Collapse%2FStructural%20Damage%22%2C%22value%22%3A%224068381d-bef0-48d7-9a19-2a387caae310%22%7D%5D&temporalFilter=%7B%22year_min_max%22%3A%5B%5D%2C%22filters%22%3A%5B%5D%2C%22inverted%22%3Afalse%7D&spatialFilter=%7B%22geometry%22%3A%7B%22type%22%3A%22%22%2C%22coordinates%22%3A%5B%5D%7D%2C%22buffer%22%3A%7B%22width%22%3A%220%22%2C%22unit%22%3A%22ft%22%7D%2C%22inverted%22%3Afalse%7D&mapExpanded=false&timeExpanded=false&include_ids=true'><h2 class="txt-color-blue">Collapse and structural damage</h2></a>
            <p>Location of sites across the eamena region showing collapse and structural damage disturbance effect types</p>
        </div>
    </div>
</div>
