{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
{% endblock css%}
{% block javascript%}
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script>
        activitySummary = {{activity_summary|safe}}
        
    </script>
    {{ block.super }}
{% endblock javascript%}
{% block content %}
<div class="container activity-chart">
    <div class="row">
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-actions-button" data-toggle="dropdown">
            Users Actions
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu dropdown-actions-menu" role="menu">
            <li><a href="javascript:void(0);" class="select-action" data-action="create">Created resources</a></li>
            <li><a href="javascript:void(0);" class="select-action" data-action="update">Updated resources</a></li>
            <li><a href="javascript:void(0);" class="select-action" data-action="insert">Inserted resources</a></li>
            <li><a href="javascript:void(0);" class="select-action" data-action="delete">Deleted resources</a></li>
        </ul>
        <div class="group-chart-container">
            <p class="chart-title">Group activity</a>
            <div id="group-chart"></div>
            <br><br><br>
        </div>
        {% for user in user_ids%}
            <div class="user-chart-container">
                <a class="chart-title" href="/admin/auth/user/{{user.id}}/user_activity/">{{user.name}}</a>
                <div id="user-chart-{{user.id}}" class="user-chart"></div>
                <br><br><br>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
