{% extends "base.htm" %}
{% load i18n %}
{% block content %}
    {% include report_template %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block copyright %}
{% endblock copyright %}

{% block header %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css">
{% endblock css %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>

{% block pre_require_js %}
{% endblock pre_require_js %}
<script>
    require.config({
        waitSeconds : 30,
        baseUrl: '{{ ABSOLUTE_STATIC_URL }}js',
        paths: {
            'jquery': 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min',
            'leaflet': 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet',
            'es6-promise':'https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise'
        },
        
    });

    // application wide require calls
    require(["jquery"], function($) {
        var jQuery = $;

        // put values here that should be accessible application wide
        define('arches', [], function () {
            return {
                bingKey: "{{ BingKey }}",
            };
        });

        {% if main_script %}
            // main page script require
            require(["{{ main_script }}"]);
        {% endif %}
    });
</script>

{% endblock javascript %}