{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock css%}
{% block javascript%}
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script>
        activitySummary = {{activity_summary|safe}}
        
    </script>
    {{ block.super }}
{% endblock javascript%}
{% block content %}
<div class="container">
    <h3>{{head_text}}</h3>
    <div class="row">
        <div id="heat-chart"></div>
    </div>
    <div class="row">
        {% for edit in activity%}
            <h5>{{edit.date}}</h5>
            {% for field in edit.log%}
                <span>{{field.resourceid}}</span>, 
                <span>{{field.edittype}}</span>, 
                <span>{{field.attributeentitytypeid}}</span>, 
                <span>{{field.edittype}}</span>, 
                <span>{{field.oldvalue}} -> {{field.newvalue}}
            </br>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div> -- - - - - -- - - - -- - - - -- - - -- - - -- -</div>
<div>sum: {{ activity_summary }}</div>

<div> -- - - - - -- - - - -- - - - -- - - -- - - -- -</div>
<div>{{ activity }}</div>
{% endblock content %}
