{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock css%}
{% block javascript%}
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script>
        activitySummary = {{activity_summary|safe}}
        
    </script>
    {{ block.super }}
{% endblock javascript%}
{% block content %}
<div class="container">
    <h3>{{head_text}}</h3>
    <div class="row">
        <div id="heat-chart"></div>
    </div>
    <div class="row">
        </br>
        {% for edit in activity%}
            <h3>{{edit.date}}</h3>
            <h4>{{edit.name}}</h4>
            {% for field in edit.log%}
            {% if field.edittype == 'update'%}
                <div class="arches-timeline-icon edited">
                    <i class="fa fa-pencil"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'insert'%}
                <div class="arches-timeline-icon added">
                    <i class="fa fa-plus"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'create'%}
                <div class="arches-timeline-icon">
                    <i class="fa fa-check"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'delete'%}
                <div class="arches-timeline-icon deleted">
                    <i class="fa fa-minus"></i>
                </div>
            {% endif %}

                <div>{{field.edittype}} {{field.attributeentitytypeid}}</div>
                <div>
                    {% if field.edittype == 'update'%}
                        from {{field.oldvalue}} to
                    {% endif %}
                    {{field.newvalue}}
                </div>
            </br>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
