{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-slider.min.css' %}">
{% endblock css%}
{% block javascript%}
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script>
        activitySummary = {{activity_summary|safe}}
        
    </script>
    {{ block.super }}
{% endblock javascript%}
{% block content %}
<div class="container">
    <h3>{{head_text}}</h3>
    <div class="row">
        <div id="user-chart"></div>
    </div>
    <div class="row">
    </br>
        {% for edit in activity%}
            <h3 id="date-{{edit.date}}">{{edit.date}}</h3>
            
                <h4>{% if edit.resourceid %}
                    <a href="/resources/HERITAGE_RESOURCE_GROUP.E27/default/{{edit.resourceid}}">{{edit.name}}</a>
                    {% else %}
                    <p>{{edit.name}}</p>
                    {% endif %}
                </h4>
            {% for field in edit.log%}
            {% if field.edittype == 'update'%}
                <div class="arches-timeline-icon edited">
                    <i class="fa fa-pencil"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'insert'%}
                <div class="arches-timeline-icon added">
                    <i class="fa fa-plus"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'create'%}
                <div class="arches-timeline-icon">
                    <i class="fa fa-check"></i>
                </div>
            {% endif %}
            {% if field.edittype == 'delete'%}
                <div class="arches-timeline-icon deleted">
                    <i class="fa fa-minus"></i>
                </div>
            {% endif %}

                <div>{{field.edittype}} <strong>{{field.attributeentitytypeid}}</strong></div>
                <div>
                    {% if field.edittype == 'update'%}
                        from {{field.oldvalue}} to
                    {% endif %}
                    {{field.newvalue}}
                </div>
            {% endfor %}
            <br><br>
        {% endfor %}
    </div>
</div>
{% endblock content %}
